<div>
  <div class="buttons">
    <div class="picker-wrapper">
      <mat-form-field style="width: 0">
        <input
          matInput
          class="date-selection"
          [matDatepicker]="picker"
          [(ngModel)]="prepDate"
          (ngModelChange)="createPrepList($event)"
        />
        <mat-datepicker class="picker" #picker></mat-datepicker>
      </mat-form-field>

      <button mat-flat-button class="action-button" (click)="picker.open()">
        Add date
      </button>
    </div>
    
  </div>

  <div *ngIf="lists.length">
    <mat-expansion-panel
      class="suggestions-list"
      *ngFor="let list of lists"
      cdkDropList
      [cdkDropListData]="list.suggestions"
      (cdkDropListDropped)="drop($event)"
      [(expanded)]="list.isExpanded"
    >
      <mat-expansion-panel-header class="list-item-title">
        <span>{{ list.day | date: 'fullDate' }} </span
        ><mat-icon class="delete-btn" (click)="deleteList(list)">delete</mat-icon>
      </mat-expansion-panel-header>
      <div cdkDrag *ngFor="let suggestion of list.suggestions">
        <app-suggestion
          [showDelete]="true"
          [suggestion]="suggestion"
          (removeItem)="onRemoveItem($event, list)"
        ></app-suggestion>
      </div>
    </mat-expansion-panel>

  </div>
</div>
