<ng-container *ngIf="_clonedRecipy && !isMobile">
  <div class="full-recipy-wrapper">
    <div class="recipy-body">
      <div class="recipy-details">
        <div class="recipy-name-wrapper">
          <h1 *ngIf="mode !== RecipyMode.EditRecipy">{{ _clonedRecipy.name }}</h1>
          <input matInput *ngIf="mode == RecipyMode.EditRecipy" [(ngModel)]="_clonedRecipy.name"
            (ngModelChange)="isChangesSaved = false">
          <button *ngIf="mode == RecipyMode.ViewRecipy" mat-icon-button (click)="mode == RecipyMode.ViewRecipy? onEditRecipy() : other()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-flat-button class="action-button" *ngIf="mode == RecipyMode.EditRecipy"
            (click)="saveUpdatedRecipy()" [disabled]="isChangesSaved">Save Changes</button>
        </div>
        <div class="ingredients-wrapper" *ngIf="portionsToServe && !!_clonedRecipy.ingrediends">
          <h3 *ngIf="portionsToServe && mode !==RecipyMode.EditRecipy">
            Інгридієнти на
            <select class="inline-select" [(ngModel)]="portionsToServe">
              <option *ngFor="let option of portionsOptions">
                {{ option }}
              </option>
            </select>
            {{ portionsText }}
          </h3>
          <div class="ingredients-table" *ngIf="!isSplitToGroups">
            <app-ingredient (ingredientChanged)="onIngredientChanged($event)"
              (deleteIngredient)="onDeleteIngredient($event)"
              *ngFor="let ingredient of _clonedRecipy.ingrediends; let i = index" [ingredient]="ingredient"
              [mode]="mode" [savedPortionsToServe]="savedPortionsServed" [actualPortionsToServe]="portionsToServe"
              [isMobile]="isMobile"></app-ingredient>
          </div>
          <ng-container *ngIf="isSplitToGroups">
            <ng-container *ngFor="let item of ingredientsByGroup | keyvalue">
              <ng-container *ngIf="item.value.length > 0">
                <h4>{{item.key}}</h4>
                <app-ingredient (ingredientChanged)="onIngredientChanged($event)"
                  (deleteIngredient)="onDeleteIngredient($event)" [mode]="mode"
                  *ngFor="let ingredient of item.value; let i = index" [ingredient]="ingredient"
                  [savedPortionsToServe]="savedPortionsServed" [actualPortionsToServe]="portionsToServe"
                  [isMobile]="isMobile"></app-ingredient>
              </ng-container>
            </ng-container>
          </ng-container>
          <button mat-flat-button class="action-button add-ingredient-button"
            *ngIf="mode == RecipyMode.EditRecipy && !isAddIngredientFormShown"
            (click)="isAddIngredientFormShown = true">Add Ingredient</button>
          <app-add-ingredient [isIngredientsSplitToGroups]='!!_clonedRecipy.isSplitIntoGroups.length'
            (addNewIngredient)="onaAddNewIngredient($event)" *ngIf="isAddIngredientFormShown"></app-add-ingredient>
        </div>
        <div class="preparation-wrapper" *ngIf="!!_clonedRecipy.steps">
          <h3>Приготування</h3>
          <table class="steps-table" *ngIf="!isSplitToGroups">
            <tr *ngFor="let step of _clonedRecipy.steps; let i = index">
              <td>
                <p>{{ step.id }}. {{ step.description }}</p>
              </td>
              <td>{{ getTotalStepTime(step) }} хв.</td>
            </tr>
          </table>
          <ng-container *ngIf="isSplitToGroups">
            <ng-container *ngFor="let item of stepsByGroup | keyvalue">
              <ng-container *ngIf="item.value.length > 0">
                <h4>{{item.key}}</h4>
                <table class="steps-table">
                  <tr *ngFor="let step of item.value; let i = index">
                    <td>
                      <p>{{ step.id }}. {{ step.description }}</p>
                    </td>
                    <td>{{ getTotalStepTime(step) }} хв.</td>
                  </tr>
                </table>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

      </div>
      <div class="recipy-info">
        <!-- <img class="recipy-photo" [src]="recipy.photo" /> -->
        <div class="recipy-complexity" *ngIf="!!_clonedRecipy.complexity">
          <span class="bold">Складність:</span> {{ complexity }}
        </div>
        <div class="recipy-time" *ngIf="!!_clonedRecipy.steps.length">
          <div><span class="bold">Час приготування: </span></div>
          <div>
            <p>{{ activeTime + passiveTime }} хвилин</p>
            <p>Активний: {{ activeTime }} хвилин</p>
            <p>Пасивний: {{ passiveTime }} хвилин</p>
          </div>
        </div>
        <div class="recipy-tags">
          <div><span class="bold">Теги: </span></div>
          <div *ngIf="mode !== RecipyMode.EditRecipy">
            <mat-chip-list>
              <mat-chip *ngFor="let tag of tags">{{ tag }}</mat-chip>
              <!-- <mat-chip class="add-tag"
                ><mat-icon svgIcon="add"></mat-icon
              ></mat-chip> -->
            </mat-chip-list>
          </div>
          <div *ngIf="mode == RecipyMode.EditRecipy">
            <app-add-tags [selected]="_clonedRecipy.type" [tags]="allTags" (selectedTags)="onTagsSelectionChange($event)"></app-add-tags>
          </div>
        </div>
      </div>
    </div>
    <button mat-flat-button class="action-button" *ngIf="mode == RecipyMode.AddPreview" (click)="onAddRecipy()">Add
      recipy</button>
  </div>
</ng-container>
<ng-container *ngIf="isMobile && _clonedRecipy">
  <header class="mobile-header">
    {{ _clonedRecipy.name }}
  </header>
  <mat-button-toggle-group appearance="legacy" aria-label="Font Style" (change)="onMatToggleChange($event)">
    <mat-button-toggle value="ingredients" checked>Інгридієнти</mat-button-toggle>
    <mat-button-toggle value="preparation">Приготування</mat-button-toggle>
    <mat-button-toggle value="details">Деталі</mat-button-toggle>
  </mat-button-toggle-group>
  <ng-container *ngIf="currentTab === 'ingredients' && portionsToServe">
    <div class="portions-selector">
      <span>Кількість порцій: {{portionsToServe}}</span>
      <button mat-icon-button [matMenuTriggerFor]="unitMenu" class="edit-button">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      <mat-menu #unitMenu="matMenu">
        <button mat-menu-item *ngFor="let option of portionsOptions" (click)="onPortionsChange(option)">{{ option
          }}</button>
      </mat-menu>
    </div>
    <ng-container *ngIf="!isSplitToGroups">
      <app-ingredient *ngFor="let ingredient of _clonedRecipy.ingrediends" [ingredient]="ingredient"
        [savedPortionsToServe]="savedPortionsServed" [actualPortionsToServe]="portionsToServe" [isMobile]="isMobile">
      </app-ingredient>
    </ng-container>
    <ng-container *ngIf="isSplitToGroups">
      <ng-container *ngFor="let item of ingredientsByGroup | keyvalue">
        <ng-container *ngIf="item.value.length > 0">
          <h4>{{item.key}}</h4>
          <app-ingredient *ngFor="let ingredient of item.value" [ingredient]="ingredient"
            [savedPortionsToServe]="savedPortionsServed" [actualPortionsToServe]="portionsToServe"
            [isMobile]="isMobile"></app-ingredient>
        </ng-container>
      </ng-container>
    </ng-container>

  </ng-container>
  <ng-container *ngIf="currentTab === 'preparation'">
    <table class="steps-table" *ngIf="!isSplitToGroups">
      <tr *ngFor="let step of _clonedRecipy.steps; let i = index">
        <td>
          <p>{{ step.id }}. {{ step.description }}</p>
        </td>
        <td>{{ getTotalStepTime(step) }} хв.</td>
      </tr>
    </table>
    <ng-container *ngIf="isSplitToGroups">
      <ng-container *ngFor="let item of stepsByGroup | keyvalue">
        <ng-container *ngIf="item.value.length > 0">
          <h4>{{item.key}}</h4>
          <table class="steps-table">
            <tr *ngFor="let step of item.value; let i = index">
              <td>
                <p>{{ step.id }}. {{ step.description }}</p>
              </td>
              <td>{{ getTotalStepTime(step) }} хв.</td>
            </tr>
          </table>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <div *ngIf="currentTab === 'details'" class="mobile-details-wrapper">
    <div>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of tags">{{ tag }}</mat-chip>
        <!-- <mat-chip class="add-tag"
          ><mat-icon svgIcon="add"></mat-icon
        ></mat-chip> -->
      </mat-chip-list>
    </div>
    <div class="recipy-complexity">
      <span>Складність: </span> <b>{{ complexity }}</b>
    </div>
    <div class="recipy-time">

      <div>
        <p>Загальний час приготування: <b>{{ activeTime + passiveTime }} хвилин</b></p>
        <p>Активний: {{ activeTime }} хвилин</p>
        <p>Пасивний: {{ passiveTime }} хвилин</p>
      </div>
    </div>
    <div class="recipy-tags">

    </div>
  </div>
</ng-container>