.calendar-wrapper {
  width: 100%;
}

.calendar-week {
  display: flex;
  justify-content: space-between;
}

.calendar-day {
  width: 14%;
  text-align: center;
  border: 1px solid var(--text-color);
  padding: 5px;
  &.active {
    border-color: black;
    span {
      font-weight: 800;
    }
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.calendar-week:not(:first-child) .calendar-day {
  min-height: 90px;
}

@media (max-width: 600px) {
  .calendar-wrapper {
    .calendar-week {
      flex-direction: column;
      max-width: 100vw;
      overflow-x: hidden;
      .calendar-day {
        width: 100%;
        min-height: auto;
        text-align: left;
        font-size: 12px;
        border: none;
        margin-bottom: 5px;
        background-color: var(--background-color);
      }
    }
  }
  .day-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    .mat-icon{
      font-size: 20px;
    }
  }
}
