.calendar-wrapper {
  width: 100%;
}

.calendar-week {
  display: flex;
  justify-content: space-between;
}

.calendar-day {
  width: 14%;
  text-align: center;
  border: 1px solid var(--secondary);
  padding: 5px;
  &.active {
      border-color: black;
    span {
      font-weight: 800;
    }
  }
  &.disabled{
      opacity: 0.5;
      cursor: not-allowed;
  }
  &:hover:not(.disabled){
      background-color: lightgreen;
      cursor: pointer;
  }
}

.calendar-week:not(:first-child) .calendar-day {
  min-height: 90px;
}
