<div class="calendar-wrapper">
  <div class="calendar-week">
    <div class="calendar-day">Неділя</div>
    <div class="calendar-day">Понеділок</div>
    <div class="calendar-day">Вівторок</div>
    <div class="calendar-day">Середа</div>
    <div class="calendar-day">Четвер</div>
    <div class="calendar-day">П'ятниця</div>
    <div class="calendar-day">Субота</div>
  </div>
  <div class="calendar-week" *ngFor="let week of calendar">
    <div
      class="calendar-day"
      *ngFor="let day of week.days"
      [class.disabled]="day.disabled"
      [class.selected]="day.selected"
      [class.active]="day.active"
    >
      <span>{{ day.value | moment: "D" }}</span>
      <app-day [day]="day" [userCalendarDataExtended]="userCalendarDataExtended"></app-day>
    </div>
  </div>
</div>
