<div class="calendar-wrapper">
  <div class="calendar-week" *ngIf="!isMobile">
    <div class="calendar-day">Неділя</div>
    <div class="calendar-day">Понеділок</div>
    <div class="calendar-day">Вівторок</div>
    <div class="calendar-day">Середа</div>
    <div class="calendar-day">Четвер</div>
    <div class="calendar-day">П'ятниця</div>
    <div class="calendar-day">Субота</div>
  </div>
  <div class="calendar-week" *ngFor="let week of calendar">
    <ng-container *ngFor="let day of week.days">
      <div [id]="day.details.day" class="calendar-day" *ngIf="!isMobile || !day.disabled" [class.disabled]="day.disabled"
        [class.selected]="day.selected" [class.active]="day.active">
        <span *ngIf="!isMobile">{{ day.value | moment: "D" }}</span>
        <div *ngIf="isMobile" class="day-header"><span>{{day.value | moment: 'dddd, Do MMMM'}}</span><button mat-icon-button (click)="addRecipy(day)"><mat-icon>add_circle_outline</mat-icon></button></div>
        <app-day [day]="day" [isMobile]="isMobile" (updateDay)="onUpdateDay($event)" (saveToShoppingList)="onSaveToShoppingList($event)"></app-day>
      </div>
    </ng-container>

  </div>
</div>