.preps-tab-container {
  padding-top: 20px;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.lists-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-grow: 2;
  overflow-y: auto;
  position: relative;
  margin-bottom: 20px;
  & > div {
    width: 45%;
  }
}
.suggestion {
  background: var(--background-color);
  padding-left: 5px;
}

.greyedOut {
  opacity: 0.3;
  background: var(--gray);
}

.fixed-container {
  position: fixed;
  right: 12vw;
  width: 30vw;
}

.buttons-wrapper {
  margin-left: 15px;
  button {
    margin-right: 10px;
  }
}
