<div
  class="container"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
  (click)="onRecipyClicked()"
>
  <div
    class="base"
    [class.plain-background]="!recipy.photo"
    [class.hovered]="isHovered || isRecipyClicked"
  >
  <div class="icons" *ngIf="!isRecipyClicked && !isHovered">
    <mat-icon *ngIf="showNeedsAdvancePreparation"
          >av_timer</mat-icon
        >
    <mat-icon *ngIf="hasPrepSuggestions">whatshot</mat-icon>
    <mat-icon *ngIf="recipy.isCheckedAndApproved" class="color-primary" matSuffix svgIcon="approved"></mat-icon>
  </div>
    <div class="recipy-title">
      {{ recipy.name }}
    </div>
  </div>
  <div class="image-background" *ngIf="recipy.photo">
    <app-image [imagePath]="recipy.photo"></app-image>
  </div>
  <div
    class="overlay short-info"
    [class.visible]="
      (isMobile && isRecipyClicked) ||
      (!isMobile && isHovered && !isRecipyClicked)
    "
  >
    <div class="short-info-details-panel">
      <div class="time-details">
        <mat-icon
          #tooltip="matTooltip"
          matTooltip="Потребує попередньої підготовки"
          matTooltipPosition="above"
          *ngIf="showNeedsAdvancePreparation"
          >av_timer</mat-icon
        >
        <div>{{ preparationTime | normalizeTime }}</div>
      </div>
      <div>{{ complexity }} рецепт</div>
      <div class="advance-prep" *ngIf="hasPrepSuggestions"><mat-icon>whatshot</mat-icon> дещо можна приготувати заздалегіть</div>
      <div class="advance-prep" *ngIf="recipy.isCheckedAndApproved"><mat-icon class="color-primary" matSuffix svgIcon="approved"></mat-icon> рецепт перевірений на практиці</div>
      <div class="tags">
        <mat-chip-list>
          <mat-chip *ngFor="let tag of tags">{{ tag }}</mat-chip>
        </mat-chip-list>
      </div>
      
    </div>
    <div class="side-menu-panel">
      <button mat-icon-button (click)="goFullRecipy()">
        <mat-icon>pageview</mat-icon>
      </button>
      <button mat-icon-button disabled><mat-icon>event_note</mat-icon></button>
      <button mat-icon-button [matMenuTriggerFor]="collectionsMenu"><mat-icon>bookmark</mat-icon></button>
      <mat-menu #collectionsMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let collection of recipyCollections"
          [value]="collection"
          (click)="onCollectionSelected(collection)"
        >
          {{ collection }}
        </button>
        <button
          mat-menu-item          
          [value]="'addNew'"
          (click)="addCollection()"
        >
          Додати колекцію
        </button>
      </mat-menu>
    </div>
  </div>

  <div
    class="overlay detailed-info"
    [class.visible]="
      (!isMobile && isRecipyClicked) || (isMobile && isDetailedInfo)
    "
  >
    <div class="ingredients-wrapper">
      <h6>Основні інгридієнти</h6>
      <div>
        <ng-container *ngFor="let ingredient of topIngredients">
          <span class="ingredient-text">{{
            getIngredientText(ingredient).toLowerCase()
          }}</span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
