<div class="recipy-wrapper" (click)="goFullRecipy(recipy.id)">
  <!-- <img class="recipy-photo" [src]="recipy.photo" /> -->
  <div class="recipy-info">
    <div class="recipy-upper-part">
      <p>{{ complexity }}</p>
      <p>{{ preparationTime }} хв</p>
    </div>
    <div class="title-part">
      <p>{{ recipy.name }}</p>
    </div>
    <div class="recipy-bottom-part">
      <div class="likes-wrapper" style="display: none;">
        <mat-icon svgIcon="heart"></mat-icon>
        <p>20</p>
      </div>
      <div class="author-wrapper">
        <p>{{recipy.author}}</p>
        <img class="author-photo" style="display: none;" src="/assets/images/user.jpg" />
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="isUserLoaded">
  <button
    mat-icon-button
    class="tag-button"
    *ngIf="!isUserRecipy && currentPath !== 'user-recipies'"
    (click)="addToUserRecipies()"
  >
    <mat-icon svgIcon="tag"></mat-icon>
  </button>
  <button
    mat-icon-button
    class="tag-button"
    *ngIf="currentPath === 'user-recipies'"
    (click)="removeFromUserRecipies()"
  >
    <mat-icon svgIcon="edit"></mat-icon>
  </button>
</ng-container>

<div class="recipy-menu" style="display: none">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="menu-button"
    *ngIf="currentPath !== 'user-recipies'"
  >
    <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item>Редагувати рецепт</button>
          <button mat-menu-item>Додати в меню</button>
          <button mat-menu-item>В список покупок</button> -->
    <button mat-menu-item *ngIf="currentPath !== 'user-recipies'">
      Додати в меню
    </button>
  </mat-menu>
</div>
