<div class="image-wrapper" *ngIf="recipy.photo">
  <app-image [imagePath]="recipy.photo"></app-image>
</div>
<div class="recipy-wrapper" [class.photo-background]="!!recipy.photo">
  
  <!-- <img class="recipy-photo" [src]="recipy.photo" /> -->
  <div class="recipy-info" (click)="goFullRecipy()">
    <div class="recipy-upper-part">
      <p>{{ complexity }}</p>
      <mat-icon
        #tooltip="matTooltip"
        matTooltip="Потребує попередньої підготовки"
        matTooltipPosition="above"
        *ngIf="showNeedsAdvancePreparation"
        >av_timer</mat-icon
      >
      <p>{{ preparationTime | normalizeTime }}</p>
    </div>
    <div class="title-part">
      <p>{{ recipy.name }}</p>
    </div>
    <div class="recipy-bottom-part">
      <div class="likes-wrapper" style="display: none">
        <mat-icon svgIcon="heart"></mat-icon>
        <p>20</p>
      </div>
      <div class="author-wrapper">
        <p>{{ author }}</p>
        <img
          class="author-photo"
          style="display: none"
          src="/assets/images/user.jpg"
        />
      </div>
    </div>
  </div>
  <button mat-icon-button *ngIf="!isMobile && isPlanner && mode == AppMode.SelectRecipy" class="add-to-calendar-btn" (click)="onAddToCalendar()">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>

<div class="recipy-menu" style="display: none">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="menu-button"
    *ngIf="currentPath !== 'user-recipies'"
  >
    <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item>Редагувати рецепт</button>
          <button mat-menu-item>Додати в меню</button>
          <button mat-menu-item>В список покупок</button> -->
    <button mat-menu-item *ngIf="currentPath !== 'user-recipies'">
      Додати в меню
    </button>
  </mat-menu>
</div>
