$aspect-ratio: 5/4;

// ----- Containers ---- //

.container {
  aspect-ratio: $aspect-ratio;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px #ecedec;
}

.base,
.short-info,
.detailed-info {
  aspect-ratio: $aspect-ratio;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.base {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  .icons{
    position: absolute;
    top: 8px;
    color: var(--primary);
    background: var(--background-color-gradient);
    padding: 2px 8px;
    display: flex;
    align-items: center;
    border-radius: 20px; 
    .mat-icon{
      height: 18px;
      width: auto;
      font-size: 18px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  visibility: hidden;
  padding: 10px;
  &.visible {
    visibility: visible;
    background: var(--background-color-semi-transparent);
    z-index: 20;
  }
}

.base.plain-background {
  background-color: var(--background-color);
  justify-content: center;

  &.hovered {
    justify-content: flex-end;
  }
}

.base:not(.plain-background) {
  justify-content: flex-end;
}

.image-background {
  position: absolute;
  aspect-ratio: $aspect-ratio;
  overflow: hidden;
  width: 100%;
}

.short-info {
  display: flex;
  justify-content: space-between;
}

// ----- Contents ---- //

.recipy-title {
  text-align: center;
  padding: 3px 25px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.base:not(.plain-background) .recipy-title {
  background: var(--background-color-gradient);
}

.time-details {
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 5px;
  }
}

.side-menu-panel {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.short-info-details-panel {
  font-size: 12px;
  font-weight: 600;
  & > div {
    margin-bottom: 7px;
    display: flex;
    .mat-icon {
      font-size: 18px;
      margin-right: 5px;
      height: 17px;
      width: auto;
      &.color-primary{
        color: var(--primary);
      }
    }
  }
}

.ingredients-wrapper {
  h6 {
    margin-block: 5px;
  }
  div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  .side-menu-panel {
    justify-content: space-evenly;
  }
}
