.recipy-wrapper {
  display: flex;
  aspect-ratio: 5/4;
  position: relative;
  cursor: pointer;
  // border: 1px solid var(--tint4);
  padding: 4px;
  box-shadow: 0px 0px 10px 5px #ecedec;
}

.recipy-wrapper:not(.photo-background) {
  background-color: var(--background-color);
  .recipy-info {
    justify-content: space-between;
  }
}

.recipy-wrapper.photo-background {
  .title-part {
    background: var(--background-color-gradient);
    padding: 3px 25px;
  }
  &:hover {
    .recipy-info {
      justify-content: space-between;
    }
    .overlay {
      
      display: flex;
      flex-direction: column;
      background: var(--background-color);
      padding: 5px;
    }
  }
}

.ingredients-wrapper {
  h6{
    margin-block: 15px 5px;
  }
  & > div{
    display: flex;
    flex-wrap: wrap;
  }
}
.ingredient-text {
  margin-right: 15px;
  margin-bottom: 3px;
  font-size: 10px;
  white-space: nowrap;
  color: var(--text-color);
}
.recipy-info {
  color: var(--text-color);
  padding: 7px 9px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  p {
    font-size: 12px;
    margin: 0;
    font-weight: 700;
  }
}
.overlay {
  display: none;
  transition: all ease-out 3s;
}

.image-wrapper {
  position: absolute;
  aspect-ratio: 5/4;
  overflow: hidden;
}
.recipy-photo {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.recipy-upper-part {
  display: flex;
  width: 100%;
  justify-content: space-between;
  p {
    margin-right: 13px;
  }
  .mat-icon {
    font-size: 16px;
  }
}

.recipy-bottom-part {
  display: flex;
  justify-content: space-between;
  & > div {
    display: flex;
    align-items: center;
  }
  .likes-wrapper mat-icon {
    width: 13px;
    margin-right: 5px;
  }
  .author-wrapper p {
    text-align: end;
  }
}

.recipy-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.menu-button {
  width: 35px;
  height: 30px;
  line-height: 30px;
  color: var(--text-color);
}

.title-part {
  p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
}

.author-photo {
  width: 28px;
  border-radius: 50%;
  margin-left: 5px;
}

.add-to-calendar-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  line-height: 30px;
  height: 30px;
  .mat-icon {
    font-size: 18px;
    line-height: 20px;
    color: var(--tint7);
  }
}
