.shopping-list-item-wrapper{
    display: flex;
    &>div:first-child{
        flex-grow: 1;
    }
}

::ng-deep .cookster-radio-group {
    .mat-radio-button {
        padding: 5px 15px 5px 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        &:not(:last-child) {
            margin-right: 10px;
        }
        .mat-radio-container {
            display: none;
        }
        &.mat-radio-checked {
            background-color: var(--tint1);
            border-color: var(--tint1);
        }
    }
}