.user-recipies-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.recipy{
    width: 30%;
    position: relative;
    min-width: 250px;
    margin: 1vw;
}

@media (max-width: 600px){
    .recipy{
        width: 100%;
    }
}