<div *ngIf="!!allRecipies" class="page-container">
  <div *ngIf="!!allRecipies.length && currentUser" class="user-recipies-wrapper">
    <div class="recipy" *ngFor="let recipy of allRecipies">
      <app-recipy-short-view [recipy]="recipy" [currentUser]="currentUser" [isMobile]="isMobile" (addToCalendar)="onAddToCalendar($event)"></app-recipy-short-view>
    </div>
  </div>
  <div *ngIf="isShowSidePane" class="side-pane">
    <app-calendar-container [isSidePane]="true" [isRecipySelected]="isRecipySelected" (daySelected)="onDaySelected($event)"></app-calendar-container>
  </div>
  <div *ngIf="!allRecipies.length" class="no-recipies-message">There are no recipies in the database that match your filters</div>
</div>
<div *ngIf="!allRecipies">Loading</div>