<div *ngIf="!!allRecipies" class="page-container">
  <div *ngIf="!!allRecipies.length && currentUser" class="user-recipies-wrapper">
    <div class="recipy" *ngFor="let recipy of allRecipies">
      <app-recipy-short-view [recipy]="recipy" [currentUser]="currentUser" [isMobile]="isMobile" (recipyClicked)="goFullRecipy($event)"></app-recipy-short-view>
    </div>
  </div>
  <div *ngIf="isShowSidePane" class="side-pane">
    <router-outlet></router-outlet>
    <!-- <app-calendar-container [isPlanner]="true" [isRecipySelected]="isRecipySelected" (daySelected)="onDaySelected($event)"></app-calendar-container> -->
  </div>
  <div *ngIf="!allRecipies.length" class="no-recipies-message">There are no recipies in the database that match your filters</div>
</div>

<button *ngIf="!isMobile" mat-flat-button class="action-button show-basic-btn" (click)="toggleShpwBasicRecipies()"><span *ngIf="!showBasicRecipies">Показати базові рецепти</span><span *ngIf="showBasicRecipies">Сховати базові рецепти</span></button>
<div *ngIf="!allRecipies">Loading</div>