.recipy-name {
  &:hover {
    cursor: pointer;
  }
  &:not(:first-child) {
    margin-top: 10px;
  }
}

// expansion panel
::ng-deep.mat-expansion-panel-body {
  padding-inline: 0 !important;
  .has-margin {
    margin-inline: 10px;
  }
}

.recipy-details-item {
  text-align: center;
  &.button {
    background-color: var(--tint4);
    margin-bottom: 5px;
    padding-inline: 20px;
  }
}
.additional-info {
  padding-inline: 10px;
  font-size: 12px;
  line-height: 16px;
  & > div {
    margin-bottom: 10px;
  }
}
.title-wrapper{
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-right: 5px;
}
.icons{
  min-width: max-content;
  color: var(--primary);
  background: var(--background-color-gradient);
  padding: 2px 8px;
  display: flex;
  align-items: center;
  border-radius: 20px; 
  .mat-icon{
    height: 16px;
    width: auto;
    font-size: 17px;
    font-weight: 600;
  }
}
.portions{
  min-width: max-content;
}

@media (max-width: 600px) {
  .recipy-name {
    font-size: 14px;
    margin-block: 5px;
  }
  .mat-expansion-panel {
    background-color: var(--background-color);
    border: 1px solid var(--gray);
    .mat-expansion-panel-header {
      padding-inline: 10px;
      &.mat-expanded {
        height: 45px;
        border-bottom: 1px solid var(--tint6);
        background-color: var(--tint6);
        .mat-expansion-panel-header-title,
        .mat-expansion-panel-header-description {
          color: white;
        }
      }
      .mat-expansion-panel-header-title {
        justify-content: space-between;
      }
    }
  }
  .mat-list-base .mat-list-item {
    font-size: 12px;
    height: 40px;
    mat-icon {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
