<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ingredients to include
            </mat-panel-title>
            <!-- <mat-panel-description>
          This is a summary of the content
        </mat-panel-description> -->
        </mat-expansion-panel-header>

        <ul *ngIf="!!products" class="filters-list">
            <li *ngFor="let product of products">
                <mat-checkbox>{{product.name}}</mat-checkbox>
            </li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ingredients to exclude
            </mat-panel-title>
            <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <ul *ngIf="!!products" class="filters-list">
            <li *ngFor="let product of products">
                <mat-checkbox>{{product.name}}</mat-checkbox>
            </li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
               Filter by tags
            </mat-panel-title>
            <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>filter content will be here</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
               Filter by time
            </mat-panel-title>
            <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>filter content will be here</p>
    </mat-expansion-panel>
</mat-accordion>