<div class="ingredient-wrapper" [ngClass]="mode == AppMode.AddIngrToShoppingList? 'add-ingr-to-shopping-list-mode' : mode == AppMode.ShoppingList? 'shopping-list-mode' : ''">
  <div class="ingredient-name">{{ getIngredientText() }}</div>

  <ng-container *ngIf="mode !== AppMode.EditRecipy">
    <div class="ingredient-amount">
      {{ NormalizeDisplayedAmount(amountToDisplay, measuringUnit) }}
      
      <ng-container *ngIf="!savedPortionsToServe && !this.actualPortionsToServe && !isMobile">
        {{getUnitText(ingredient.defaultUnit)}}
      </ng-container>

      <select *ngIf="!!savedPortionsToServe && !!this.actualPortionsToServe && !isMobile"
        (change)="onValueChange($event)" class="inline-select">
        <option *ngFor="let unit of measurementUnits" [value]="unit" [selected]="unit === measuringUnit">
          {{ getUnitText(unit) }}
        </option>
      </select>

      <span *ngIf="isMobile">{{ getUnitText(measuringUnit) }}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="(mode == AppMode.EditRecipy) && !!_ingredient">
    <input matInput class="edit-input" [(ngModel)]="_amountInSelectedUnit" (ngModelChange)="amountChanged()">
    <span>{{getUnitText(measuringUnit)}}</span>
    <button mat-icon-button (click)="onDeleteIngredient()">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>
  <div class="actions" *ngIf="isMobile">
    <button mat-icon-button [matMenuTriggerFor]="unitMenu">
      <mat-icon svgIcon="edit"></mat-icon>
    </button>
    <mat-menu #unitMenu="matMenu">
      <button mat-menu-item *ngFor="let unit of measurementUnits" [value]="unit" (click)="onValueChangeMatMenu(unit)">{{
        getUnitText(unit) }}</button>
    </mat-menu>
  </div>
</div>