<div
  class="ingredient-wrapper"
  [ngClass]="
    mode == AppMode.AddIngrToShoppingList
      ? 'add-ingr-to-shopping-list-mode'
      : mode == AppMode.ShoppingList
      ? 'shopping-list-mode'
      : ''
  "
>
  <div class="ingredient-name">{{ getIngredientText() }}</div>

  <ng-container *ngIf="mode !== AppMode.EditRecipy">
    <div class="ingredient-amount">
      <span *ngIf="amountToDisplay > 0">{{
        NormalizeDisplayedAmount(amountToDisplay, measuringUnit)
      }}</span>
      <ng-container *ngIf="!isMobile">
        <ng-container
          *ngIf="!savedPortionsToServe && !this.actualPortionsToServe"
        >
          {{ getUnitText(ingredient.defaultUnit) }}
        </ng-container>
        <ng-container
          *ngIf="!!savedPortionsToServe && !!this.actualPortionsToServe"
        >
          <select
            *ngIf="amountToDisplay > 0"
            (change)="onValueChange($event)"
            class="inline-select"
          >
            <option
              *ngFor="let unit of measurementUnits"
              [value]="unit"
              [selected]="unit === measuringUnit"
            >
              {{ getUnitText(unit) }}
            </option>
          </select>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isMobile">
        <ng-container
          *ngIf="!savedPortionsToServe && !this.actualPortionsToServe"
        >
          {{ getUnitText(ingredient.defaultUnit) }}
        </ng-container>
        <ng-container
          *ngIf="!!savedPortionsToServe && !!this.actualPortionsToServe"
        >
          <span>{{ getUnitText(measuringUnit) }}</span>
        </ng-container>
      </ng-container>

      <!-- <ng-container
        *ngIf="!!savedPortionsToServe && !!this.actualPortionsToServe"
      >
        <select
          *ngIf="amountToDisplay > 0 && !isMobile"
          (change)="onValueChange($event)"
          class="inline-select"
        >
          <option
            *ngFor="let unit of measurementUnits"
            [value]="unit"
            [selected]="unit === measuringUnit"
          >
            {{ getUnitText(unit) }}
          </option>
        </select>
        <span *ngIf="isMobile">{{ getUnitText(measuringUnit) }}</span>
      </ng-container> -->
    </div>
  </ng-container>

  <ng-container *ngIf="mode == AppMode.EditRecipy && !!_ingredient">
    <input
      *ngIf="_ingredient.amount > 0"
      matInput
      class="edit-input"
      [(ngModel)]="_amountInSelectedUnit"
      (ngModelChange)="amountChanged()"
    />
    <span>{{ getUnitText(measuringUnit) }}</span>
    <button mat-icon-button (click)="onDeleteIngredient()">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>

  <div class="actions" *ngIf="_ingredient">
    <ng-container *ngIf="!isMobile && mode !== AppMode.EditRecipy"
      ><span *ngIf="!(_ingredient.amount > 0)">{{
        getUnitText(_ingredient.defaultUnit)
      }}</span>
    </ng-container>

    <ng-container *ngIf="isMobile">
      <button
        mat-icon-button
        [matMenuTriggerFor]="unitMenu"
        *ngIf="_ingredient.amount > 0"
      >
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      <mat-menu #unitMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let unit of measurementUnits"
          [value]="unit"
          (click)="onValueChangeMatMenu(unit)"
        >
          {{ getUnitText(unit) }}
        </button>
      </mat-menu>
    </ng-container>
  </div>
</div>
