:host {
  width: 100%;
  display: flex;
}

select {
  width: 72px;
}

.ingredient-name{
  display: flex;
}

.actions {
  button {
    height: 23px;
    line-height: 23px;
    width: 24px;
    font-size: 5px;
    margin-left: 5px;
    .mat-icon {
      height: 13px;
    }
  }
}



@media (max-width: 600px) {
  .ingredient-wrapper {
    padding: 10px;
    align-items: center;
    &:not(.shopping-list-mode) {
      border-bottom: 1px solid var(--tint2);
    }
  }
}
