.day-wrapper {
    text-align: left;
}

h5 {
    margin-block: 5px;
    padding-inline: 10px;
    display: flex;
        justify-content: space-between;
        align-items: center;
}

.meal-time {
    padding-block: 5px;
}

.divider{
    color: var(--gray);
}

@media (min-width: 600px){
    .day-wrapper {
        margin-top: 20px;
    }
    .meal-time {
        background: var(--tint1);
        &:not(:last-child) {
            border-bottom: 1px solid var(--tint3);
        }
    }
}
