<div *ngIf="!!day.details" class="day-wrapper" [class.side-panel]="isSidePane">
  <div
    *ngIf="!!day.details.breakfastRecipies.length || isMobile || isSidePane"
    class="meal-time"
  >
    <div class="meal-header" [class.side-pane]="isSidePane">
      <div>
        <span>Breakfast</span>
        <button
          mat-icon-button
          (click)="onAddRecipy('breakfast')"
          *ngIf="isSidePane && isRecipySelected"
        >
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>

      <div>
        <span *ngIf="!!getPortions('breakfast')">
          {{ getPortions("breakfast") }} персони
        </span>
        <span class="divider"> | </span>
        <span *ngIf="!!getAmountPerPerson('breakfast')">
          {{ getAmountPerPerson("breakfast") }} гр/чол
        </span>
      </div>
    </div>
    <ng-container *ngIf="!!day.details.breakfastRecipies">
      <ng-container *ngFor="let item of day.details.breakfastRecipies">
        <app-calendar-recipy
          [isMobile]="isMobile"
          [isSidePane]="isSidePane"
          [recipy]="item"
          (removeRecipy)="removeRecipy($event, 'breakfastRecipies')"
          (recipyUpdated)="updateRecipy($event, 'breakfastRecipies')"
          (saveToShoppingList)="onSaveToShoppingList($event, 'breakfast')"
        ></app-calendar-recipy>
      </ng-container>
    </ng-container>
  </div>
  <div
    *ngIf="!!day.details.lunchRecipies.length || isMobile || isSidePane"
    class="meal-time"
  >
    <div class="meal-header" [class.side-pane]="isSidePane">
      <div>
        <span>Lunch</span>
        <button
          mat-icon-button
          (click)="onAddRecipy('lunch')"
          *ngIf="isSidePane && isRecipySelected"
        >
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>

      <div>
        <span *ngIf="!!getPortions('lunch')">
          {{ getPortions("lunch") }} персони
        </span>
        <span class="divider"> | </span>
        <span *ngIf="!!getAmountPerPerson('lunch')">
          {{ getAmountPerPerson("lunch") }} гр/чол
        </span>
      </div>
    </div>
    <ng-container *ngIf="!!day.details.lunchRecipies">
      <ng-container *ngFor="let item of day.details.lunchRecipies">
        <app-calendar-recipy
          [isMobile]="isMobile"
          [isSidePane]="isSidePane"
          [recipy]="item"
          (removeRecipy)="removeRecipy($event, 'lunchRecipies')"
          (recipyUpdated)="updateRecipy($event, 'lunchRecipies')"
          (saveToShoppingList)="onSaveToShoppingList($event, 'lunch')"
        ></app-calendar-recipy>
      </ng-container>
    </ng-container>
  </div>
  <div
    *ngIf="!!day.details.dinnerRecipies.length || isMobile || isSidePane"
    class="meal-time"
  >
    <div class="meal-header" [class.side-pane]="isSidePane">
      <div>
        <span>Dinner</span>
        <button
          mat-icon-button
          (click)="onAddRecipy('dinner')"
          *ngIf="isSidePane && isRecipySelected"
        >
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
      <div>
        <span *ngIf="!!getPortions('dinner')">
          {{ getPortions("dinner") }} персони
        </span>
        <span class="divider"> | </span>
        <span *ngIf="!!getAmountPerPerson('dinner')">
          {{ getAmountPerPerson("dinner") }} гр/чол
        </span>
      </div>
    </div>
    <ng-container *ngIf="!!day.details.dinnerRecipies">
      <ng-container *ngFor="let item of day.details.dinnerRecipies">
        <app-calendar-recipy
          [isMobile]="isMobile"
          [isSidePane]="isSidePane"
          [recipy]="item"
          (removeRecipy)="removeRecipy($event, 'dinnerRecipies')"
          (recipyUpdated)="updateRecipy($event, 'dinnerRecipies')"
          (saveToShoppingList)="onSaveToShoppingList($event, 'dinner')"
        ></app-calendar-recipy>
      </ng-container>
    </ng-container>
  </div>
</div>
