.has-errors {
    color: red;
    font-weight: 700;
}

.additional-info-wrapper {
    display: flex;
    flex-direction: column;
    mat-checkbox {
        margin-bottom: 30px;
    }
}

.action-buttons-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.complexity-radio-group{
    margin-left: 20px;
}

.recipy-constructor-wrapper{
    display: flex;
    .preview{
        flex: 2 0 60%;
    }
    .recipy-constructor{
        flex: 1 1 30%;
    }
}