<div *ngIf="!!day.details" (click)="check()" class="day-wrapper">
    <div *ngIf="!!day.details.breakfastRecipies.length || isMobile" class="meal-time">
        <h5>Breakfast</h5>
        <ng-container *ngIf="!!day.details.breakfastRecipies">
            <ng-container *ngFor="let item of day.details.breakfastRecipies">
                <app-calendar-recipy [isMobile]="isMobile" [recipy]="item"></app-calendar-recipy>
            </ng-container>
        </ng-container>

    </div>
    <div *ngIf="!!day.details.lunchRecipies.length || isMobile" class="meal-time">
        <h5>Lunch</h5>
        <ng-container *ngIf="!!day.details.lunchRecipies">
            <ng-container *ngFor="let item of day.details.lunchRecipies">
                <app-calendar-recipy [isMobile]="isMobile" [recipy]="item"></app-calendar-recipy>
            </ng-container>
        </ng-container>

    </div>
    <div *ngIf="!!day.details.dinnerRecipies.length || isMobile" class="meal-time">
        <h5>Dinner</h5>
        <ng-container *ngIf="!!day.details.dinnerRecipies">
            <ng-container *ngFor="let item of day.details.dinnerRecipies">
                <app-calendar-recipy [isMobile]="isMobile" [recipy]="item"></app-calendar-recipy>
            </ng-container>
        </ng-container>

    </div>

</div>

