.day-wrapper {
    text-align: left;
    margin-top: 20px;
}

h5 {
    margin-block: 5px;
}

.recipy-name {
    &:hover{
        cursor: pointer;
    }
    &:not(:first-child) {
        margin-top: 10px;
    }
}

.meal-time {
    background: var(--tint1);
    padding: 5px;
    &:not(:last-child) {
        border-bottom: 1px solid var(--tint3);
    }
}
