<div *ngIf="!!day.details" class="day-wrapper">
  <div
    *ngIf="!!day.details.breakfastRecipies.length || isMobile"
    class="meal-time"
  >
    <h5>
      <span>Breakfast</span>
      <div>
        <span *ngIf="!!getPortions('breakfast')">
          {{ getPortions("breakfast") }} персони
        </span>
        <span class="divider"> | </span>
        <span *ngIf="!!getAmountPerPerson('breakfast')">
          {{ getAmountPerPerson("breakfast") }} гр/чол
        </span>
      </div>
    </h5>
    <ng-container *ngIf="!!day.details.breakfastRecipies">
      <ng-container *ngFor="let item of day.details.breakfastRecipies">
        <app-calendar-recipy
          [isMobile]="isMobile"
          [recipy]="item"
          (removeRecipy)="removeRecipy($event, 'breakfastRecipies')"
          (recipyUpdated)="updateRecipy($event, 'breakfastRecipies')"
          (saveToShoppingList)="onSaveToShoppingList($event, 'breakfast')"
        ></app-calendar-recipy>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="!!day.details.lunchRecipies.length || isMobile" class="meal-time">
    <h5>
      <span>Lunch</span>
      <div>
        <span *ngIf="!!getPortions('lunch')">
          {{ getPortions("lunch") }} персони
        </span>
        <span class="divider"> | </span>
        <span *ngIf="!!getAmountPerPerson('lunch')">
          {{ getAmountPerPerson("lunch") }} гр/чол
        </span>
      </div>
    </h5>
    <ng-container *ngIf="!!day.details.lunchRecipies">
      <ng-container *ngFor="let item of day.details.lunchRecipies">
        <app-calendar-recipy
          [isMobile]="isMobile"
          [recipy]="item"
          (removeRecipy)="removeRecipy($event, 'lunchRecipies')"
          (recipyUpdated)="updateRecipy($event, 'lunchRecipies')"
          (saveToShoppingList)="onSaveToShoppingList($event, 'lunch')"
        ></app-calendar-recipy>
      </ng-container>
    </ng-container>
  </div>
  <div
    *ngIf="!!day.details.dinnerRecipies.length || isMobile"
    class="meal-time"
  >
    <h5>
      <span>Dinner</span>
      <div>
        <span *ngIf="!!getPortions('dinner')">
          {{ getPortions("dinner") }} персони
        </span>
        <span class="divider"> | </span>
        <span *ngIf="!!getAmountPerPerson('dinner')">
          {{ getAmountPerPerson("dinner") }} гр/чол
        </span>
      </div>
    </h5>
    <ng-container *ngIf="!!day.details.dinnerRecipies">
      <ng-container *ngFor="let item of day.details.dinnerRecipies">
        <app-calendar-recipy
          [isMobile]="isMobile"
          [recipy]="item"
          (removeRecipy)="removeRecipy($event, 'dinnerRecipies')"
          (recipyUpdated)="updateRecipy($event, 'dinnerRecipies')"
          (saveToShoppingList)="onSaveToShoppingList($event, 'dinner')"
        ></app-calendar-recipy>
      </ng-container>
    </ng-container>
  </div>
</div>
