<div class="tabs">
  <mat-radio-group class="cookster-radio-group" [(ngModel)]="selectedCategory">
    <mat-radio-button *ngFor="let category of categories" [value]="category">
      {{category}}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div class="content-wrapper">
  <div *ngIf="getIsTabWithRecipies(selectedCategory)" class="all-recipies">
    <div *ngIf="!!allRecipies && currentUser" class="user-recipies-wrapper">
      <div class="recipy" *ngFor="let recipy of getRecipiesToDispay(selectedCategory)">
        <app-recipy-short-view [recipy]="recipy" [isPlanner]="true" [currentUser]="currentUser" [isMobile]="isMobile" (addToCalendar)="onAddToCalendar($event)" (recipyClicked)="onRecipyClicked($event)"></app-recipy-short-view>
      </div>
    </div>
  </div>
  <div class="recipy-preview" *ngIf="showRecipyPreview">
    <!-- TODO add button to close the preview -->
    <router-outlet></router-outlet>
  </div>
</div>
