<div class="tabs">
  <mat-radio-group class="cookster-radio-group" [(ngModel)]="selectedCategory" (ngModelChange)="closeRecipyPreview()">
    <mat-radio-button *ngFor="let category of categories" [value]="category">
      {{category}}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div class="content-wrapper">
  <div *ngIf="getIsTabWithRecipies(selectedCategory)" class="all-recipies">
    <div *ngIf="!!allRecipies && currentUser" class="user-recipies-wrapper" cdkDropList>
      <div class="recipy" cdkDrag [id]="recipy.id" *ngFor="let recipy of getRecipiesToDispay(selectedCategory)">
        <app-recipy-short-view [recipy]="recipy" [isPlanner]="true" [currentUser]="currentUser" [isMobile]="isMobile" [mode]="appMode" (addToCalendar)="onAddToCalendar($event)" (recipyClicked)="onRecipyClicked($event)"></app-recipy-short-view>
      </div>
    </div>
  </div>
  <div class="recipy-preview" *ngIf="showRecipyPreview && recipyForPreview">
    <button mat-button (click)="closeRecipyPreview()" class="close-preview-btn"><mat-icon>close</mat-icon></button>
    <app-recipy-preview [recipy]="recipyForPreview" [mode]="AppMode.Planner"></app-recipy-preview>
  </div>
</div>
