<div class="calendar-by-day page-container" *ngIf="currentDay">
  <div class="current-day-selector">
    <button mat-icon-button (click)="goPreviousDay()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    {{ currentDay.toString() | date: "EEEE, d MMMM" }}
    <button mat-icon-button (click)="goNextDay()"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
  <div *ngIf="!!_day">
<app-day [day]="_day" [isPlanner]="false" [isRecipySelected]="false" (updateDay)="onUpdateDay($event)"></app-day>
  </div>
</div>

<button class="switch-view-icon" mat-icon-button (click)="goByMonth()"><mat-icon>view_list</mat-icon></button>
