<div class="prep-lists-container">
  <div *ngIf="!!prepLists.length">
    <ng-container *ngFor="let list of prepLists">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="list-item-title">
              <span>{{ list.day | date }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="list-item" *ngFor="let suggestion of list.suggestions">
          <app-suggestion [suggestion]="suggestion"></app-suggestion>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>
