@media (max-width: 600px) {
  .shopping-list-container {
    padding-top: 50px;
    background-color: var(--gray);
  }
  .list-view-selection{
    background-color: var(--background-color);
  }

  .clean-list-button{
    position: absolute;
    right: 40px;
    top: 5px;
    z-index: 120;
  }
}
