.prep-lists-container {
  // padding-top: 8vh;
  .action-button {
    width: 100%;
    margin-top: 20px;
  }
  h3 {
    margin-block: 25px 15px;
    text-align: center;
  }
}

.list-item-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.list-item {
  padding: 10px 10px 0;
  margin: 10px 10px 10px 0;
  background: var(--background-color);
  &.timePassed {
    background: #f99e9e;
  }
}

@media (max-width: 600px) {
  .prep-lists-container {
    max-height: 60vh;
  }
}
