<div class="suggestions-list-item">
  <div class="suggestions-list-item-ingredient">
    <span>{{ suggestion.productName }}</span>
    <span
      >{{ NormalizeDisplayedAmount(suggestion.amount, suggestion.unit) }}
      {{ getUnitText(suggestion.unit) }}</span
    >
  </div>
  <div class="suggestions-list-item-prep">
    <span>{{ suggestion.prepDescription }}</span>
  </div>
  <div class="suggestions-list-item-details">
    <span>{{ suggestion.recipyTitle }}</span>
    <span>{{ suggestion.day | date }}</span>
  </div>
</div>
