.container {
  min-height: calc(100% - 73px);
  margin-top: 73px;
  padding: 30px;
  box-sizing: border-box;
  background: var(--background-color);
}

.mat-drawer-side {
  padding: 20px;
  background: var(--background-color);
}

.mat-tree{
    background: var(--background-color);
    
}

.mat-tree-node, .mat-nested-tree-node{
    color: var(--text-color);
    .mat-button{
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
    }
    &.active-path{
        .mat-button{
            font-weight: 700;
            font-size: 17px;
        }
    }
}

.mat-drawer-content{
padding-left: 20px;
}