<form [formGroup]="ingredientsForm" (ngSubmit)="addIngredient()">

  <mat-form-field appearance="outline">
    <mat-label>Інгридієнт</mat-label>
    <input matInput formControlName="ingredient" placeholder="Напр.: картопля" type="text" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix svgIcon="done" *ngIf="ingredientsForm.controls.ingredient.valid && !noFilteredOptions"></mat-icon>
    <mat-hint *ngIf="noFilteredOptions">Такого інгридієнту немає</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Кількість</mat-label>
    <input matInput formControlName="amount" placeholder="Напр.: 600" type="number">
    <mat-icon matSuffix svgIcon="done" *ngIf="ingredientsForm.controls.amount.valid"></mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Одиниці</mat-label>
    <mat-select formControlName="defaultUnit">
      <mat-option *ngFor="let unit of measuringUnitsOptions" [value]="unit">
        {{getMeasuringUnitText(unit)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="isIngredientsSplitToGroups" appearance="outline">
    <mat-label>Group</mat-label>
    <mat-select formControlName="group">
      <mat-option *ngFor="let unit of ingredientGroupOptions" [value]="unit">
        {{GetUkrIngredientsGroup(unit)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button [disabled]="ingredientsForm.invalid" class="action-button" type="submit">Add</button>
</form>
