<section class="navigation-pane-wrapper">
  <!-- <div class="search-wrapper">
    <app-search></app-search>
  </div> -->

  <nav class="app-navigation">
    <mat-nav-list>
      <ng-container *ngIf="!isMobile">
        <mat-list-item *ngFor="let route of navigation">
        <a [routerLink]="route.path" routerLinkActive="active">{{
          route.name
        }}</a>
      </mat-list-item>
      </ng-container>
      <ng-container *ngIf="isMobile">
        <mat-list-item *ngFor="let route of mobileNavigation">
        <a [routerLink]="route.path" routerLinkActive="active">{{
          route.name
        }}</a>
      </mat-list-item>
      </ng-container>
      
      <mat-list-item>
        <button mat-flat-button class="action-button" (click)="addRecipy()">Додати рецепт</button>
        
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="action-button" (click)="onAddRecipy()">Додати рецепт (new)</button>
      </mat-list-item>
    </mat-nav-list>
  </nav>
</section>
