.navigation-pane-wrapper {
  position: sticky;
  top: 100px;
}
.search-wrapper {
  padding: 0 16px;
}

.app-navigation {
  a {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--text-color);
    &.active {
      font-weight: 700;
    }
  }
}
