.navigation-pane-wrapper {
  position: sticky;
  top: 100px;
}
.search-wrapper {
  padding: 0 16px;
}

.app-navigation {
  a {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--text-color);
    &.active {
      font-weight: 700;
    }
  }
}

.menu-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  .mat-icon {
    font-size: 20px;
  }
}

::ng-deep.mat-list-item-content{
  padding: 0 !important;
}

.full-version{
  padding-left: 15px;
  .menu-button{
    .mat-icon{
      margin-right: 10px;
    }
  }
}

.narrow-version{
  .menu-button{
    padding-inline: 5px;
    justify-content: center;
  }
  
}