<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <mat-radio-group class="cookster-radio-group" [(ngModel)]="selectedOption">
        <mat-radio-button class="example-radio-button" *ngFor="let unit of data.mealOptions"
            [value]="unit">
            {{unit}}
        </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group class="cookster-radio-group" [(ngModel)]="selectedPortionOption">
        <mat-radio-button class="example-radio-button" *ngFor="let unit of portionsOptions"
            [value]="unit">
            {{unit}}
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
        <mat-label>Amount per portion (in gramms)</mat-label>
        <input matInput [(ngModel)]="amountPerPortion" type="number">
      </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="{meal: selectedOption, portions: selectedPortionOption, amountPerPortion }" cdkFocusInitial>Ok</button>
  </div>