.main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100% - 73px);
}

.content-pane{
    width: 83.5%;
    padding: 30px 30px 25px;
}

.navigation-pane{
    width: 16.5%;
    padding-top: 100px;
}

@media (max-width: 600px){
    .content-pane{
        width: 100%;
        padding: 11vh 0 50px;
    }
}