.main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100% - 73px);
}

.content-pane{
    width: 95%;
    padding: 30px 30px 25px;
}

.desktop-actions-pane{
    position: fixed;
    right: 0;
    background-color: var(--tint1);
    border-radius: 30% 0 0 30%;
    height: fit-content;
    top: 40%;
    padding-block: 10px;
}

@media (max-width: 600px){
    .content-pane{
        width: 100%;
        padding: 11vh 0 50px;
    }
}