<div class="planner-container" cdkDropListGroup>
  <div class="calendar">
    <app-calendar-container [isPlanner]="true"></app-calendar-container>
  </div>
  <div class="side-tabs">
    <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
      <mat-tab label="Recipies">
        <app-planner-recipies></app-planner-recipies>
      </mat-tab>
      <mat-tab label="Preview recipy">
        <app-recipy-preview
          *ngIf="recipyToOpen && amountPerPortion && portions"
          [recipy]="recipyToOpen"
          [amountPerPortion]="amountPerPortion"
          [portions]="portions"
        ></app-recipy-preview>
      </mat-tab>
      <mat-tab label="Shopping list">
        <app-shopping-list></app-shopping-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
