.planner-container {
  display: flex;
  padding-top: 10px;
}

.calendar {
  min-width: 370px;
  max-width: 370px;
  max-height: 87vh;
  overflow-y: auto;
}

.side-tabs {
  flex-grow: 1;
  padding-inline: 20px;
}
