<form [formGroup]="stepsForm" (ngSubmit)="addStep()">
  <mat-form-field appearance="outline">
    <mat-label>Приготування, крок {{idValue}}</mat-label>
    <input matInput formControlName="description" placeholder="Напр.: Почистити картоплю, порізати на кубики. Залити водою, посолити">
    <mat-icon matSuffix svgIcon="done" *ngIf="stepsForm.controls.description.valid"></mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Активний час приготування в хвилинах</mat-label>
    <input matInput formControlName="timeActive" placeholder="Напр.: 20">
    <mat-icon matSuffix svgIcon="done" *ngIf="stepsForm.controls.timeActive.valid"></mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Пасивний час приготування в хвилинах</mat-label>
    <input matInput formControlName="timePassive" placeholder="Напр.: 10">
    <mat-icon matSuffix svgIcon="done" *ngIf="stepsForm.controls.timePassive.valid"></mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <mat-form-field *ngIf="isSplitToGroups" appearance="outline">
    <mat-label>Group</mat-label>
    <mat-select formControlName="group">
      <mat-option *ngFor="let unit of stepGroupOptions" [value]="unit">
        {{GetUkrIngredientsGroup(unit)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button [disabled]="stepsForm.invalid" class="action-button" type="submit">Add</button>
</form>